In [1]:
import pandas as pd
import requests
import time
import numpy as np

from bs4 import BeautifulSoup

**SCRAPPING DATA**

In [2]:
url = "https://countryeconomy.com/gdp?year=2017"

response = requests.get(url)

req = requests.get(url)

soup = BeautifulSoup(response.text,"html.parser")

table = soup.find("table", attrs = {"class": "table tabledat table-striped table-condensed table-hover","id":"tbA"})

table_data= table.find("tbody")

#table_data

In [3]:
country_names=[]
year= []
annual_gdp=[]
gdp_growth=[]

for row in table_data.find_all("tr")[0:]:
  value =row.find_all("td")
  country = value[0].find("a")
  country_names.append(value[0].find("a").text.replace(" [+]","").strip())
  year.append(value[1].text.replace(",","").strip())
  annual_gdp.append(value[4].text.replace(",","").strip())
  gdp_growth.append(value[6].text.replace(",","").strip())
#country_names
#population.append(int(value[2].text.replace(",","").strip()))

In [4]:
print(year)
print(country_names)
print(annual_gdp)
print(gdp_growth)

['2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017', '2017']
['United States', 'Euro zone', 'United Kingdom', 'Germany', 'France', 'Japan', 'Spain', 'Italy', 'Portugal', 'Greece', 'Ireland', 'Andorra', 'United Arab Emirates', 'Afghanistan', 'Antigua and Barbuda', 'Albania', 'Armenia', 'Angola', 'Argentina', 'Austria', 'Australia', 'Azerbaijan', 'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium', 'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin', 'Brunei', 'Bolivia', 'Brazil', 'Bahamas', 'Bhutan', 'Botswana', 'Belarus', 'Belize', 'Canada', 'Democratic Republic of the Congo', 'Central African Republic', 'Republic of the Congo', 'Switzerland', "Côte d'Ivoire", 'Chile', 'Cameroon', 'China', 'Colombia', 'Costa Rica', 'Cuba', 'Cabo Verde', 'Cyprus', 'Czechia', 'Djibouti', 'Denmark', 'Dominica', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia', 'Egypt', 'Eritrea', 'Ethiopia', 'Finland', 'Fiji', 'Federated States of Micronesia', 'Gabon', 'Grenada', 'Georgia', 'Ghana', 'The Gambia', 'Guinea', 'Equatorial Guinea', 'Guatemala', 'Guinea-Bissau', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Israel', 'India', 'Iraq', 'Iran', 'Iceland', 'Jamaica', 'Jordan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Comoros', 'Saint Kitts and Nevis', 'North Korea', 'South Korea', 'Kuwait', 'Kazakhstan', 'Laos', 'Lebanon', 'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco', 'Moldova', 'Montenegro', 'Madagascar', 'Marshall Islands', 'North Macedonia', 'Mali', 'Myanmar', 'Mongolia', 'Mauritania', 'Malta', 'Mauritius', 'Maldives', 'Malawi', 'Mexico', 'Malaysia', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Panama', 'Peru', 'Papua New Guinea', 'Philippines', 'Pakistan', 'Poland', 'State of Palestine', 'Palau', 'Paraguay', 'Qatar', 'Romania', 'Serbia', 'Russia', 'Rwanda', 'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan', 'Sweden', 'Singapore', 'Slovenia', 'Slovakia', 'Sierra Leone', 'San Marino', 'Senegal', 'Somalia', 'Suriname', 'South Sudan', 'Sao Tome and Principe', 'El Salvador', 'Syria', 'Eswatini', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Timor-Leste', 'Turkmenistan', 'Tunisia', 'Tonga', 'Türkiye', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan', 'Tanzania', 'Ukraine', 'Uganda', 'Uruguay', 'Uzbekistan', 'Saint Vincent and the Grenadines', 'Venezuela', 'Viet Nam', 'Vanuatu', 'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']
['$19477300M', '$12679719M', '$2701268M', '$3689547M', '$2594235M', '$4930837M', '$1312076M', '$1961104M', '$221280M', '$199773M', '$336259M', '$2993M', '$385605M', '$18883M', '$1468M', '$13053M', '$11527M', '$122022M', '$643861M', '$417114M', '$1381986M', '$41375M', '$18081M', '$4978M', '$293755M', '$502587M', '$14102M', '$59322M', '$35474M', '$3172M', '$12697M', '$12128M', '$37782M', '$2063519M', '$12358M', '$2294M', '$16105M', '$54723M', '$2263M', '$1649266M', '$37981M', '$2072M', '$11110M', '$695293M', '$51588M', '$276182M', '$36086M', '$12265327M', '$311890M', '$60517M', '$96851M', '$1770M', '$22863M', '$218629M', '$2763M', '$332121M', '$522M', '$80082M', '$170207M', '$104296M', '$26915M', '$246824M', '$1904M', '$76841M', '$255558M', '$5353M', '$367M', '$14924M', '$1126M', '$16242M', '$60385M', '$1498M', '$10325M', '$12201M', '$71624M', '$1469M', '$4748M', '$341271M', '$23136M', '$56214M', '$15036M', '$143136M', '$1015488M', '$358246M', '$2651474M', '$192343M', '$486829M', '$24728M', '$14755M', '$41467M', '$81965M', '$7703M', '$22206M', '$188M', '$1077M', '$1061M', '$17365M', '$1623310M', '$120687M', '$166806M', '$17055M', '$53028M', '$1997M', '$6474M', '$94376M', '$3284M', '$2356M', '$47742M', '$65689M', '$30473M', '$67155M', '$118541M', '$6431M', '$9519M', '$4855M', '$13176M', '$212M', '$11336M', '$15360M', '$61267M', '$11481M', '$6826M', '$13485M', '$13259M', '$4747M', '$8943M', '$1158912M', '$319249M', '$13219M', '$12883M', '$11185M', '$375745M', '$13786M', '$833575M', '$398394M', '$28972M', '$110M', '$203645M', '$80857M', '$62203M', '$215681M', '$22743M', '$328481M', '$339229M', '$526643M', '$16128M', '$286M', '$38997M', '$161099M', '$211696M', '$44179M', '$1575140M', '$9253M', '$688586M', '$1470M', '$1573M', '$48906M', '$541019M', '$343187M', '$48572M', '$95360M', '$3713M', '$1528M', '$20989M', '$5609M', '$3592M', '$3495M', '$376M', '$24979M', '$16370M', '$4407M', '$10079M', '$6393M', '$456523M', '$7535M', '$1616M', '$46365M', '$42167M', '$460M', '$858932M', '$23180M', '$45M', '$590733M', '$53227M', '$112114M', '$31403M', '$64385M', '$61018M', '$848M', '$115883M', '$277071M', '$880M', '$885M', '$26842M', '$381317M', '$25874M', '$21385M']
['2.2%', '2.6%', '1.7%', '2.7%', '2.3%', '1.7%', '3.0%', '1.7%', '3.5%', '1.1%', '9.0%', '0.3%', '2.4%', '2.6%', '3.1%', '3.8%', '7.5%', '-0.2%', '2.8%', '2.3%', '2.9%', '0.2%', '3.2%', '0.5%', '6.6%', '1.6%', '6.2%', '2.8%', '4.3%', '0.5%', '5.7%', '1.3%', '4.2%', '1.3%', '3.1%', '6.3%', '4.1%', '2.5%', '-1.0%', '3.0%', '3.7%', '4.5%', '-4.4%', '1.4%', '7.4%', '1.4%', '3.5%', '6.9%', '1.4%', '4.2%', '1.8%', '3.7%', '5.7%', '5.2%', '5.5%', '2.8%', '-6.6%', '4.7%', '1.4%', '2.4%', '5.8%', '5.4%', '-10.0%', '10.2%', '3.2%', '5.4%', '2.7%', '0.5%', '4.4%', '4.8%', '8.1%', '4.8%', '10.3%', '-5.7%', '3.1%', '4.8%', '3.7%', '3.8%', '4.8%', '3.4%', '2.5%', '4.3%', '5.1%', '4.3%', '6.8%', '-3.4%', '2.8%', '4.2%', '0.7%', '2.1%', '3.8%', '4.7%', '7.0%', '-0.2%', '4.2%', '0.9%', '-3.5%', '3.2%', '-4.7%', '3.9%', '6.9%', '0.9%', '3.4%', '0.7%', '6.5%', '2.5%', '-2.7%', '4.3%', '1.3%', '3.3%', '32.5%', '5.1%', '-3.5%', '4.2%', '4.7%', '4.1%', '3.3%', '1.1%', '5.3%', '5.8%', '5.6%', '6.3%', '10.9%', '3.8%', '7.2%', '4.0%', '2.1%', '5.8%', '3.7%', '-1.0%', '5.0%', '0.8%', '4.6%', '2.9%', '2.5%', '9.0%', '-5.5%', '4.4%', '0.3%', '5.6%', '2.5%', '3.5%', '6.9%', '4.6%', '5.1%', '1.4%', '-3.4%', '4.8%', '-1.5%', '8.2%', '2.1%', '1.8%', '4.0%', '-0.7%', '3.1%', '4.5%', '0.8%', '2.6%', '4.5%', '4.8%', '2.9%', '3.8%', '0.3%', '7.4%', '2.2%', '1.6%', '-5.8%', '3.9%', '2.3%', '-0.7%', '2.0%', '-2.4%', '4.3%', '4.2%', '7.1%', '-3.1%', '4.7%', '2.2%', '3.3%', '7.5%', '-2.7%', '3.4%', '3.3%', '6.8%', '2.4%', '6.8%', '1.6%', '4.4%', '1.7%', '-15.7%', '6.9%', '6.3%', '1.4%', '-5.1%', '1.4%', '4.1%', '5.0%']

In [5]:
WOrld_gdp = pd.DataFrame({"Country Name":country_names,"Annual GDP 2017":annual_gdp,"GDP Growth 2017":gdp_growth})

# WOrld_gdp

In [6]:
url = "https://countryeconomy.com/gdp?year=2018"

response = requests.get(url)

req = requests.get(url)

soup = BeautifulSoup(response.text,"html.parser")

table = soup.find("table", attrs = {"class": "table tabledat table-striped table-condensed table-hover","id":"tbA"})

table_data= table.find("tbody")

In [7]:
country_names=[]
year= []
annual_gdp=[]
gdp_growth=[]

for row in table_data.find_all("tr")[0:]:
  value =row.find_all("td")
  country = value[0].find("a")
  country_names.append(value[0].find("a").text.replace(" [+]","").strip())
  year.append(value[1].text.replace(",","").strip())
  annual_gdp.append(value[4].text.replace(",","").strip())
  gdp_growth.append(value[6].text.replace(",","").strip())

In [8]:
Wrld_gdp = pd.DataFrame({"Country Name":country_names,"Annual GDP 2018":annual_gdp,"GDP Growth 2018":gdp_growth})

# Wrld_gdp

In [9]:
df_join = WOrld_gdp.merge(Wrld_gdp, on=["Country Name"], how= "inner")

#df_join

In [10]:
url = "https://countryeconomy.com/gdp?year=2019"

response = requests.get(url)

req = requests.get(url)

soup = BeautifulSoup(response.text,"html.parser")

table = soup.find("table", attrs = {"class": "table tabledat table-striped table-condensed table-hover","id":"tbA"})

table_data= table.find("tbody")

In [11]:
country_names=[]
year= []
annual_gdp=[]
gdp_growth=[]

for row in table_data.find_all("tr")[0:]:
  value =row.find_all("td")
  country = value[0].find("a")
  country_names.append(value[0].find("a").text.replace(" [+]","").strip())
  year.append(value[1].text.replace(",","").strip())
  annual_gdp.append(value[4].text.replace(",","").strip())
  gdp_growth.append(value[6].text.replace(",","").strip())

In [12]:
W0rld_gdp = pd.DataFrame({"Country Name":country_names,"Annual GDP 2019":annual_gdp,"GDP Growth 2019":gdp_growth})

#W0rld_gdp

In [13]:
World_gdp = df_join.merge(W0rld_gdp, on=["Country Name"], how= "inner")

#World_gdp

In [14]:
df_expenditure = pd.read_csv("Expenditure.csv")

df_expenditure.set_index("Country Name")

df_exp = pd.DataFrame({"Country Name": df_expenditure["Country Name"],
              "Series Name" : df_expenditure["Series Name"],
              "Tourism Expenditure 2017" : df_expenditure["2017"],
              "Tourism Expenditure 2018" : df_expenditure["2018"],
              "Tourism Expenditure 2019" : df_expenditure["2019"] })

new_exp = df_exp.iloc[0:217,:]

In [15]:
df_tourism = pd.read_csv("Consumer_spending.csv")

df_tourism.sort_values("Country Name")

df_con = pd.DataFrame({"Country Name": df_tourism["Country Name"],
              "Indicator Name" : df_tourism["Indicator Name"],
              "Consumer Spending 2017" : df_tourism["2017"],
              "Consumer Spending 2018" : df_tourism["2018"],
              "Consumer Spending 2019" : df_tourism["2019"] })#.set_index("Country Name")

In [16]:
df_consumption = new_exp.merge(df_con, on=["Country Name"], how = "outer")

In [17]:
df_world = World_gdp.merge(df_consumption, on =["Country Name"], how = "inner")

df_world = df_world.replace("","0").replace("..","0").dropna()

#df_world

In [18]:
# Turning annual GPD into ints for mathematical manipulation 

one_million = 1e6

df_world["Annual GDP 2017"] = df_world["Annual GDP 2017"].str.replace("$","").str[:-1].astype("int") * one_million
df_world["Annual GDP 2018"] = df_world["Annual GDP 2018"].str.replace("$","").str[:-1].astype("int") * one_million
df_world["Annual GDP 2019"] = df_world["Annual GDP 2019"].str.replace("$","").str[:-1].astype("int") * one_million

# Turning percent growth into floats for mathematical manipulation 

df_world["GDP Growth 2017"] = df_world["GDP Growth 2017"].str.replace("%","").astype("float")
df_world["GDP Growth 2018"] = df_world["GDP Growth 2018"].str.replace("%","").astype("float")
df_world["GDP Growth 2019"] = df_world["GDP Growth 2019"].str.replace("%","").astype("float")

# Turning tourism expenditure into floats for mathematical manipulation
df_world["Tourism Expenditure 2017"] = df_world["Tourism Expenditure 2017"].astype("float")
df_world["Tourism Expenditure 2018"] = df_world["Tourism Expenditure 2018"].astype("float")
df_world["Tourism Expenditure 2019"] = df_world["Tourism Expenditure 2019"].astype("float")

#df_world

<ipython-input-18-51d492ad66c1>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_world["Annual GDP 2017"] = df_world["Annual GDP 2017"].str.replace("$","").str[:-1].astype("int") * one_million
<ipython-input-18-51d492ad66c1>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_world["Annual GDP 2018"] = df_world["Annual GDP 2018"].str.replace("$","").str[:-1].astype("int") * one_million
<ipython-input-18-51d492ad66c1>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_world["Annual GDP 2019"] = df_world["Annual GDP 2019"].str.replace("$","").str[:-1].astype("int") * one_million

In [19]:
## Calculating percent growth of tourism expenses (TE)
# Between year 2017-2018
difference = df_world["Tourism Expenditure 2017"] - df_world["Tourism Expenditure 2018"]

df_world["% TE Growth 17-18"] = difference/df_world["Tourism Expenditure 2018"] * 100

# Between year 2018-2019

dfference = df_world["Tourism Expenditure 2018"] - df_world["Tourism Expenditure 2019"]

df_world["% TE Growth 18-19"] = dfference/df_world["Tourism Expenditure 2019"] * 100

df_world["Overall TE Growth"]= df_world["% TE Growth 18-19"] - df_world["% TE Growth 17-18"]
## Calculating percent growth of consumer spending (CS)

# Between year 2017-2018

dference = df_world["Consumer Spending 2018"] - df_world["Consumer Spending 2017"]

df_world["% CS Growth 17-18"] = dference/df_world["Consumer Spending 2017"] * 100

# Between year 2018-2019

d1ference = df_world["Consumer Spending 2019"] - df_world["Consumer Spending 2018"]

df_world["% CS Growth 18-19"] = d1ference/df_world["Consumer Spending 2018"] * 100

df_world["Overall CS Growth"]= df_world["% CS Growth 18-19"] - df_world["% CS Growth 17-18"]

## Calculating proportion of Tourism Expenses (TE) to Consumer Spending (CS)
# Part/ Whole
df_world["Proportion TE/CS"] = df_world["Overall TE Growth"]/ df_world["Overall CS Growth"]

## Calculating average growth of annual GDP
df_world["Average Growth GDP"] = (df_world["GDP Growth 2017"]+df_world["GDP Growth 2018"] + df_world["GDP Growth 2017"])/3

#new_df_w = df_world.fillna(0).replace(np.inf,np.nan).dropna()
new_df_w = df_world.replace(np.inf,np.nan).dropna()

new_df_w

,Country Name,Annual GDP 2017,GDP Growth 2017,Annual GDP 2018,GDP Growth 2018,Annual GDP 2019,GDP Growth 2019,Series Name,Tourism Expenditure 2017,Tourism Expenditure 2018,...,Consumer Spending 2018,Consumer Spending 2019,% TE Growth 17-18,% TE Growth 18-19,Overall TE Growth,% CS Growth 17-18,% CS Growth 18-19,Overall CS Growth,Proportion TE/CS,Average Growth GDP
0,United States,1.947730e+13,2.2,2.053310e+13,2.9,2.138100e+13,2.3,"International tourism, expenditures (current US$)",1.582870e+11,1.768180e+11,...,1.680000e+13,1.740000e+13,-10.480268,-4.976918,5.503349,5.000000,3.571429,-1.428571,-3.852345,2.433333
2,Germany,3.689547e+12,2.7,3.976246e+12,1.0,3.888655e+12,0.6,"International tourism, expenditures (current US$)",9.716300e+10,1.035020e+11,...,2.860000e+12,2.810000e+12,-6.124519,2.243384,8.367903,7.518797,-1.748252,-9.267049,-0.902974,2.133333
3,France,2.594235e+12,2.3,2.792223e+12,1.9,2.729171e+12,1.8,"International tourism, expenditures (current US$)",5.378700e+10,5.913100e+10,...,2.150000e+12,2.090000e+12,-9.037561,-1.037640,7.999921,6.965174,-2.790698,-9.755872,-0.820011,2.166667
4,Japan,4.930837e+12,1.7,5.040885e+12,0.6,5.120310e+12,-0.4,"International tourism, expenditures (current US$)",2.577400e+10,2.809700e+10,...,3.750000e+12,3.820000e+12,-8.267787,-3.599122,4.668665,2.739726,1.866667,-0.873059,-5.347477,1.333333
6,Italy,1.961104e+12,1.7,2.092881e+12,0.9,2.011507e+12,0.5,"International tourism, expenditures (current US$)",3.481900e+10,3.764400e+10,...,1.650000e+12,1.580000e+12,-7.504516,-0.696423,6.808093,6.451613,-4.242424,-10.694037,-0.636625,1.433333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,Vanuatu,8.800000e+08,6.3,9.290000e+08,2.9,9.300000e+08,3.2,"International tourism, expenditures (current US$)",1.900000e+07,2.100000e+07,...,6.940408e+08,7.126577e+08,-9.523810,-34.375000,-24.851190,-0.634670,2.682400,3.317070,-7.491910,5.166667
169,Samoa,8.850000e+08,1.4,8.780000e+08,-0.6,9.130000e+08,4.5,"International tourism, expenditures (current US$)",3.900000e+06,4.100000e+06,...,7.115352e+08,7.373096e+08,-4.878044,-21.153845,-16.275801,-1.249422,3.622353,4.871775,-3.340836,0.733333
170,South Africa,3.813170e+11,1.4,4.039910e+11,0.8,3.884460e+11,0.2,"International tourism, expenditures (current US$)",6.068000e+09,6.348000e+09,...,3.370000e+11,3.250000e+11,-4.410838,8.216843,12.627681,7.324841,-3.560831,-10.885672,-1.160028,1.200000
171,Zambia,2.587400e+10,4.1,2.631200e+10,3.5,2.330900e+10,1.4,"International tourism, expenditures (current US$)",4.100000e+08,4.780000e+08,...,1.517567e+10,1.396964e+10,-14.225941,-6.457926,7.768016,-3.375414,-7.947153,-4.571739,-1.699138,3.900000
172,Zimbabwe,2.138500e+10,5.0,3.694500e+10,4.7,2.299500e+10,-6.1,"International tourism, expenditures (current US$)",3.370000e+08,2.690000e+08,...,3.008262e+10,1.846162e+10,25.278810,4.669261,-20.609550,69.357372,-38.630279,-107.987651,0.190851,4.900000